auth:
  postgresPassword: "foo"
  username: "foo"
  password: "foo"
  database: "EU-ASN"

primary:
  persistence:
    enabled: true
    size: 10Gi

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

  service:
    type: NodePort
    nodePorts:
      postgresql: 30432
